
h1{
  color:antiquewhite
    
}
body{
    background-color: black;
}

.image{
    max-width: 400px;  
    max-height: 200px;    
    border: 5px solid purple;
}

#rating{
    color:antiquewhite
}

#ratings-container{
    color:antiquewhite
}
.song-rating{
    color:antiquewhite
}

.song-title{
    color:antiquewhite
}